<nav class="navbar">
  <h1>
    <!--[routerLinkActiveOptions]="{exact: true}  для того чтобы убрать актив с хоум когда уходим-->
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Doctor Hause</a>
  </h1>
  <ul>
    <li routerLinkActive="active"><a routerLink="/blogs">Blogs</a></li>
    <li routerLinkActive="active"><a routerLink="#">Contest</a></li>
    <li routerLinkActive="active"><a routerLink="#">Rules</a></li>
    <li routerLinkActive="active"><a routerLink="#">Great chess player</a></li>

    <li><button class="btn" routerLink="/auth/login">Login</button></li>
    <li><button class="btn" routerLink="/auth/reg">Register</button></li>
  </ul>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
